body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  font-family: Helvetica;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
}
html,
body {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.wrap {
  height: 100%;
  overflow: auto;
}
#header {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100%;
}
.headerC {
  height: 2rem;
}
#logo {
  float: left;
  padding: 0.38518519rem 0.25185185rem 0.31111111rem;
}
#logo img {
  width: 3.55555556rem;
}
#menuBtn {
  float: left;
  width: 1.91111111rem;
  height: 2rem;
  background: url(../img/menuBtn.png) no-repeat;
  background-size: 1.21481481rem 3.45185185rem;
}
.menuBtnClos {
  background-position: center 0.23703704rem !important;
}
.menuBtnShow {
  background-position: center -1.77777778rem !important;
}
#btns {
  float: right;
  padding-top: 0.31111111rem;
}
#btns a {
  float: left;
  margin-right: 0.22222222rem;
  width: 1.64444444rem;
  background: #690;
  color: #ccc;
  font-size: 0.62222222rem;
  line-height: 1.15555556rem;
  text-align: center;
  border-radius: 0.11851852rem;
}
#btns .searchBtn {
  font-weight: bold;
  color: #fff;
  margin-right: 0.44444444rem;
  width: 1.92592593rem;
  line-height: 1.3037037rem;
  border-radius: 0.14814815rem;
}
